.about-container {
  display: flex;
  flex-direction: column;
  color: $textColor;
  align-items: center;

  img {
    align-self: center;
    margin: 20px;
    margin-top: 80px;
    display: block;
    height: 200px;
    width: 200px;
    max-width: 80%;
    border-radius: 50%;
    object-fit: cover;
  }

  .self-description-container {
    width: 90%;
    font-family: $textFont;
    margin: 10px;
    font-size: 14px;

    .paragraph {
      margin-top: 2px;
      margin-bottom: 10px;
    }

    .semibold {
      font-weight: 600;
    }

    .my-name {
      font-family: $titleFont;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    a {
      @include link();
    }
  }

  // Tablet and up - side by side layout
  @media #{$tablet} {
    flex-direction: row;
    align-items: flex-start;

    img {
      align-self: flex-start;
      margin: 40px 30px 30px 40px;
      height: 300px;
      width: auto;
      max-width: none;
      border-radius: 0;
      object-fit: initial;
    }

    .self-description-container {
      width: 600px;
      margin: 30px 30px 10px 10px;
      font-size: 14px;

      .my-name {
        font-size: 24px;
      }
    }
  }

  // Laptop and up
  @media #{$laptop} {
    img {
      margin: 40px 30px 30px 70px;
    }
  }
}