@import 'general';

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 30px;

  background: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $titleFont;

  padding: 10px 5%;
  box-sizing: border-box;

  .navigation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    .name-brand {
      min-width: 100px;
      display: inline;
      margin-bottom: 8px;
      margin-right: 15px;

      a {
        color: white;
        text-decoration: none;
        display: inline;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      align-items: flex-start;

      button, a {
        margin-right: 12px;
        margin-bottom: 5px;
        font-family: $titleFont;
        font-size: 14px;
        color: white;
        text-decoration: none;

        background: none;
        border: none;

        &:hover, &:focus, &:visited {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }

        &:hover {
          color: lightgrey;
        }
      }
    }
  }

  .info {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    margin-top: 5px;

    div {
      display: inline;
      width: 20px;
      margin: 0 8px 0 0;
    }

    .linkedin {
      svg path {
        fill: white !important;
      }
    }

    .googlescholar {
      svg {
        width: 28px;
        rect {
          fill: none !important;
        }

        path {
          fill: white;
        }
      }
    }

    .github {
      width: 20px;
      svg g path {
        fill: white !important;
      }
    }
  }

  // Tablet and up
  @media #{$tablet} {
    flex-direction: row;
    padding: 10px 10%;

    .navigation {
      flex-direction: row;
      align-items: flex-end;
      width: auto;

      .name-brand {
        margin-bottom: 5px;

        a {
          font-size: 20px;
        }
      }

      .menu {
        align-items: flex-end;

        button, a {
          font-size: 16px;
          margin-right: 15px;
          margin-bottom: 7px;
        }
      }
    }

    .info {
      width: 200px;
      justify-content: flex-end;
      margin-top: 0;
      margin-right: 50px;

      div {
        margin: 7px 8px;
      }
    }
  }

  // Laptop and up
  @media #{$laptop} {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.footer {
  display: flex;
  padding: 20px;
  background: lightgrey;
  margin-top: 40px;

  div, a {
    font-size: 14px;
    font-family: $titleFont;
    color: white;
    margin: auto;

    a {
      text-decoration: none;
      border-bottom: 1px dotted white;
    }

    div {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}