@import 'general';

.project-section {
  color: $textColor;
  margin-top: 30px;

  .section-title {
    @include section-title();
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project-preview {
      width: 100%;
      max-width: 300px;
      margin: 20px 10px;
      font-family: $textFont;
      font-size: 14px;

      .thumbnail {
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 3 / 2;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .descriptions {
        margin-top: 6px;
        a {
          @include link();
        }

        .skill {
          font-weight: 300;
          font-style: italic;
          margin-bottom: 3px;
        }

        .title {
          font-weight: 700;
          margin-bottom: 6px;
        }

        .description {
        }
      }
    }

    // Tablet and up - side by side layout
    @media #{$tablet} {
      justify-content: flex-start;

      .project-preview {
        width: calc(50% - 40px);
        margin: 20px 20px;
      }
    }

    // Laptop and up - three columns
    @media #{$laptop} {
      .project-preview {
        width: 300px;
      }
    }
  }
}